.container {
  padding: 16px;
}
.form-container {
  height: 60vh;
  overflow-y: scroll;
}
.center {
  text-align: center;
}

.footer {
  width: 90%;
  bottom: 8px;
  padding-top: 11px;
  border-top: 1px solid #e5e5e5;
}
.footer-desc {
  padding-bottom: 16px;
  line-height: 1.2;
  font-size: 12px;
}
.between {
  display: flex;
  justify-content: space-between;
}
.sub-title {
  margin-left: 8px;
  font-size: 12px;
  font-weight: normal;
}
.form-title {
  margin: 16px 0;
  font-size: 16px;
  font-weight: 700;
}
.mt-8 {
  margin-top: 8px;
}

.primary {
  color: #1677ff;
}
/* reset */
